@import "tailwindcss";
@theme {
  --font-script: Great Vibes, cursive;
  --color-primary: #262626;
  --color-lightText: #6d6d6d;
  --color-destructive: #b91c1c;
  --shadow-textShadow: 0px 0px 54px -13px rgba(0, 0, 0, 0.7);
}

@layer components{
  .hoverEffect{
    @apply duration-300 ease-in-out;
  }
}